/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$header_01_x = 0px;
$header_01_y = 180px;
$header_01_offset_x = 0px;
$header_01_offset_y = -180px;
$header_01_width = 56px;
$header_01_height = 20px;
$header_01_total_width = 176px;
$header_01_total_height = 360px;
$header_01_image = '../img/sprite-header.png';
$header_01 = 0px 180px 0px -180px 56px 20px 176px 360px '../img/sprite-header.png';
$header_01_on_x = 0px;
$header_01_on_y = 20px;
$header_01_on_offset_x = 0px;
$header_01_on_offset_y = -20px;
$header_01_on_width = 56px;
$header_01_on_height = 20px;
$header_01_on_total_width = 176px;
$header_01_on_total_height = 360px;
$header_01_on_image = '../img/sprite-header.png';
$header_01_on = 0px 20px 0px -20px 56px 20px 176px 360px '../img/sprite-header.png';
$header_02_x = 0px;
$header_02_y = 60px;
$header_02_offset_x = 0px;
$header_02_offset_y = -60px;
$header_02_width = 67px;
$header_02_height = 20px;
$header_02_total_width = 176px;
$header_02_total_height = 360px;
$header_02_image = '../img/sprite-header.png';
$header_02 = 0px 60px 0px -60px 67px 20px 176px 360px '../img/sprite-header.png';
$header_02_on_x = 0px;
$header_02_on_y = 40px;
$header_02_on_offset_x = 0px;
$header_02_on_offset_y = -40px;
$header_02_on_width = 67px;
$header_02_on_height = 20px;
$header_02_on_total_width = 176px;
$header_02_on_total_height = 360px;
$header_02_on_image = '../img/sprite-header.png';
$header_02_on = 0px 40px 0px -40px 67px 20px 176px 360px '../img/sprite-header.png';
$header_03_x = 0px;
$header_03_y = 100px;
$header_03_offset_x = 0px;
$header_03_offset_y = -100px;
$header_03_width = 121px;
$header_03_height = 20px;
$header_03_total_width = 176px;
$header_03_total_height = 360px;
$header_03_image = '../img/sprite-header.png';
$header_03 = 0px 100px 0px -100px 121px 20px 176px 360px '../img/sprite-header.png';
$header_03_on_x = 0px;
$header_03_on_y = 80px;
$header_03_on_offset_x = 0px;
$header_03_on_offset_y = -80px;
$header_03_on_width = 121px;
$header_03_on_height = 20px;
$header_03_on_total_width = 176px;
$header_03_on_total_height = 360px;
$header_03_on_image = '../img/sprite-header.png';
$header_03_on = 0px 80px 0px -80px 121px 20px 176px 360px '../img/sprite-header.png';
$header_04_x = 0px;
$header_04_y = 140px;
$header_04_offset_x = 0px;
$header_04_offset_y = -140px;
$header_04_width = 139px;
$header_04_height = 20px;
$header_04_total_width = 176px;
$header_04_total_height = 360px;
$header_04_image = '../img/sprite-header.png';
$header_04 = 0px 140px 0px -140px 139px 20px 176px 360px '../img/sprite-header.png';
$header_04_on_x = 0px;
$header_04_on_y = 120px;
$header_04_on_offset_x = 0px;
$header_04_on_offset_y = -120px;
$header_04_on_width = 139px;
$header_04_on_height = 20px;
$header_04_on_total_width = 176px;
$header_04_on_total_height = 360px;
$header_04_on_image = '../img/sprite-header.png';
$header_04_on = 0px 120px 0px -120px 139px 20px 176px 360px '../img/sprite-header.png';
$header_05_x = 0px;
$header_05_y = 0px;
$header_05_offset_x = 0px;
$header_05_offset_y = 0px;
$header_05_width = 176px;
$header_05_height = 20px;
$header_05_total_width = 176px;
$header_05_total_height = 360px;
$header_05_image = '../img/sprite-header.png';
$header_05 = 0px 0px 0px 0px 176px 20px 176px 360px '../img/sprite-header.png';
$header_05_on_x = 0px;
$header_05_on_y = 160px;
$header_05_on_offset_x = 0px;
$header_05_on_offset_y = -160px;
$header_05_on_width = 176px;
$header_05_on_height = 20px;
$header_05_on_total_width = 176px;
$header_05_on_total_height = 360px;
$header_05_on_image = '../img/sprite-header.png';
$header_05_on = 0px 160px 0px -160px 176px 20px 176px 360px '../img/sprite-header.png';
$header_06_x = 0px;
$header_06_y = 220px;
$header_06_offset_x = 0px;
$header_06_offset_y = -220px;
$header_06_width = 79px;
$header_06_height = 20px;
$header_06_total_width = 176px;
$header_06_total_height = 360px;
$header_06_image = '../img/sprite-header.png';
$header_06 = 0px 220px 0px -220px 79px 20px 176px 360px '../img/sprite-header.png';
$header_06_on_x = 0px;
$header_06_on_y = 200px;
$header_06_on_offset_x = 0px;
$header_06_on_offset_y = -200px;
$header_06_on_width = 79px;
$header_06_on_height = 20px;
$header_06_on_total_width = 176px;
$header_06_on_total_height = 360px;
$header_06_on_image = '../img/sprite-header.png';
$header_06_on = 0px 200px 0px -200px 79px 20px 176px 360px '../img/sprite-header.png';
$header_07_x = 0px;
$header_07_y = 260px;
$header_07_offset_x = 0px;
$header_07_offset_y = -260px;
$header_07_width = 70px;
$header_07_height = 20px;
$header_07_total_width = 176px;
$header_07_total_height = 360px;
$header_07_image = '../img/sprite-header.png';
$header_07 = 0px 260px 0px -260px 70px 20px 176px 360px '../img/sprite-header.png';
$header_07_on_x = 0px;
$header_07_on_y = 240px;
$header_07_on_offset_x = 0px;
$header_07_on_offset_y = -240px;
$header_07_on_width = 70px;
$header_07_on_height = 20px;
$header_07_on_total_width = 176px;
$header_07_on_total_height = 360px;
$header_07_on_image = '../img/sprite-header.png';
$header_07_on = 0px 240px 0px -240px 70px 20px 176px 360px '../img/sprite-header.png';
$header_08_x = 0px;
$header_08_y = 300px;
$header_08_offset_x = 0px;
$header_08_offset_y = -300px;
$header_08_width = 84px;
$header_08_height = 20px;
$header_08_total_width = 176px;
$header_08_total_height = 360px;
$header_08_image = '../img/sprite-header.png';
$header_08 = 0px 300px 0px -300px 84px 20px 176px 360px '../img/sprite-header.png';
$header_08_on_x = 0px;
$header_08_on_y = 280px;
$header_08_on_offset_x = 0px;
$header_08_on_offset_y = -280px;
$header_08_on_width = 84px;
$header_08_on_height = 20px;
$header_08_on_total_width = 176px;
$header_08_on_total_height = 360px;
$header_08_on_image = '../img/sprite-header.png';
$header_08_on = 0px 280px 0px -280px 84px 20px 176px 360px '../img/sprite-header.png';
$header_09_x = 0px;
$header_09_y = 340px;
$header_09_offset_x = 0px;
$header_09_offset_y = -340px;
$header_09_width = 85px;
$header_09_height = 20px;
$header_09_total_width = 176px;
$header_09_total_height = 360px;
$header_09_image = '../img/sprite-header.png';
$header_09 = 0px 340px 0px -340px 85px 20px 176px 360px '../img/sprite-header.png';
$header_09_on_x = 0px;
$header_09_on_y = 320px;
$header_09_on_offset_x = 0px;
$header_09_on_offset_y = -320px;
$header_09_on_width = 85px;
$header_09_on_height = 20px;
$header_09_on_total_width = 176px;
$header_09_on_total_height = 360px;
$header_09_on_image = '../img/sprite-header.png';
$header_09_on = 0px 320px 0px -320px 85px 20px 176px 360px '../img/sprite-header.png';

