// nib
@import "nib"

reset-html5()
.clearfix
  clearfix()

@import 'base/_reset'
@import 'base/_core'
@import 'sprite/header'
@import 'modules/_header'
@import 'modules/_footer'
@import 'modules/_index'

